body {
    background-color:#000;
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:'Fira Mono', monospace;
}
.screen {
    position: relative;
    width: 90%;
    max-width: 400px;
    background-color: #013d1a;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,255,0,0.4) inset;
    box-sizing: border-box;
    color: #0c0;
    --flicker-color-1: lab(30 -14.66 30.73);
    --flicker-color-2: #75fa69;
    animation: colorPulse 5s infinite ease-in-out, textflicker 0.03s infinite alternate; /* 0.01s STANDARD */
    overflow: hidden;
    letter-spacing: 0.125em;
}
.screen:before {
    animation: wave 10s infinite ease-in-out;
    content: "";
    height: 20%;
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    z-index: 2;
    pointer-events: none;
}
.screen:after {
    background-image: linear-gradient(transparent, transparent 3px, #022);
    background-size: 4px 4px;
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    content:"";
    pointer-events:none;
    z-index:1;
}
@keyframes pulse {
    from{transform:scale(1)} to{transform:scale(1.3)}
}
@keyframes colorPulse {
    0%, 100% { color: #0c0; }
    48%, 52% { color: #090; }
    50% { color: #060; }
}
@keyframes wave {
    0% {
        box-shadow: 0 -20px 50px #0c0;
        top: -100%;
    }
    48%, 52% {
        box-shadow: 0 -20px 50px #090;
    }
    50% {
        box-shadow: 0 -20px 50px #060;
    }
    100% {
        box-shadow: 0 -20px 50px #0c0;
        top: 200%;
    }
}
@keyframes textflicker {
    from {
        text-shadow: 1px 0 0 var(--flicker-color-1), -2px 0 0 var(--flicker-color-2);
    }
    to {
        text-shadow: 2px 0.5px 2px var(--flicker-color-1), -1px -0.5px 2px var(--flicker-color-2);
    }
}
.heart {
    display:inline-block;
    animation:pulse 1s ease-in-out infinite alternate;
    font-size:54px;
    line-height:1;
    vertical-align:middle;
    margin-right:10px;
}
.hr-box {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:54px;
    margin-bottom:20px;
}
.state {
    text-align:center;
    font-size:1.5em;
    margin-bottom:20px;
}
.critical { color:#ff5555; }
.details {
    font-size:16px;
    text-align:left;
    line-height:1.5;
}
.label { opacity:0.7; margin-right:5px; }